@import url("./imports.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
	background-color: white;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

main {
	width: 80%;
	margin: 0 auto;  
}

#back-button {
	margin-bottom: 40px;
	display: flex;
	justify-content: end;
}

#back-button a {
	text-align: end;
	text-decoration: underline;
}