@import "/css/imports.css";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	box-sizing: border-box;
}

main {
	width: 80%;
	margin: 0 auto;  
}

#backButton {
	display: flex;
	justify-content: end;
}

#backButton a {
	text-align: end;
	text-decoration: underline;
}