#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

#gallery:hover {
    size: 50%;
}

section.item-gallery{
    width: 15%;
    padding: 1%;
}

section.item-gallery {
    display:flex;
    flex-direction: column;
}

.item-gallery img {
    width: 100%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);;
}

div.item-info {
    display: flex;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    margin-top: 3%;
}

.item-info p {
    padding: 1%;
  
}

p.name-item {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

p.date-item {
    color: #9c9c9c;
    
}

p.price-item {
    font-size: 1.25em;
    color: black;
}

.item-info p:hover {
    color: red;
}

.item-info p:active {
    color: black;
}

.item-info p:focus {
    color:darkred;
}
   
div.item-info :nth-child(1) {
    flex-basis: 70%;
    
}

div.item-info :nth-child(2) {
    flex-basis: 25%;
    text-align: right;
    
}
#backButton {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

@media screen and (max-width: 768px) {
    #gallery {
        justify-content: center;
    }
    section.item-gallery{
        width: 30%;
        padding: 2%;
 }
 }

 @media screen and (max-width: 480px) {
    main {
        width: 100%;
    }
    section.item-gallery{
        width: 100%;
        padding: 2%;
 }
 }

.item-gallery img:hover {
    transform:translateY(-5%);
    transition-duration: 0.3s;   
}